<% layout("/layouts/boilerplate") -%>
<style>
  #filters {
    display: flex;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
  .filter {
    text-align: center;
    margin-right: 2.3rem;
    opacity: 0.7;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }
  .filter:first-child{
    margin-left: .5rem;
  }
  .filter div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: .2rem;
  }
  .filter p{
    font-size: .8rem;
  }
  .filter:last-child{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: .5rem;
  border: 1px solid gray;
  border-radius: 1rem;
  
  }
  .filter:last-child div{
    display: flex;
    align-items: center;
  }
  .filter:last-child p{
    font-size: 1rem;
    margin-bottom: .25rem;
  }
  .priceGst{
    display: none;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- Previous Button -->
  <button id="prevBtn" class="circle-btn me-2" style="display: none;">&#8249;</button> <!-- Unicode for ‹ -->

  <!-- Icons Container -->
  <div id="iconWrapper" class="icon-wrapper">
    <!-- Each icon + label -->
    <div class="icon-container">
      <div class="icon-item"><i class="fa-solid fa-fire"></i></div>
      <div class="icon-label">Trending</div>
    </div>
    <div class="icon-container">
      <div class="icon-item"><i class="fa-solid fa-mountain-city"></i></div>
      <div class="icon-label">Iconic Cities</div>
    </div>
    <div class="icon-container">
      <div class="icon-item"><i class="fa-solid fa-city"></i></div>
      <div class="icon-label">Castals</div>
    </div>
    <div class="icon-container">
      <div class="icon-item"><i class="fa-solid fa-mountain"></i></div>
      <div class="icon-label">Mountain</div>
    </div>
    <div class="icon-container">
      <div class="icon-item"><i class="fa-solid fa-person-swimming"></i></div>
      <div class="icon-label">Pool</div>
    </div>
    <div class="icon-container">
      <div class="icon-item"><i class="fa-solid fa-cow"></i></div>
      <div class="icon-label">Farms</div>
    </div>
    <div class="icon-container">
      <div class="icon-item"><i class="fa-solid fa-campground"></i></div>
      <div class="icon-label">Camping</div>
    </div>
    <div class="icon-container">
      <div class="icon-item"><i class="fa-solid fa-snowflake"></i></div>
      <div class="icon-label">Snowflake</div>
    </div>
    <div class="icon-container">
      <div class="icon-item"><i class="fa-solid fa-water"></i></div>
      <div class="icon-label">Lakes</div>
    </div>
    <div class="icon-container">
      <div class="icon-item"><i class="fa-solid fa-hotel"></div>
      <div class="icon-label">Hotel</div>
    </div>
    <div class="icon-container">
      <div class="icon-item"><i class="fa-solid fa-igloo"></i></div>
      <div class="icon-label">Domes</div>
    </div>
    <div class="icon-container">
      <div class="icon-item"><i class="fa-solid fa-sailboat"></i></div>
      <div class="icon-label">Boating</div>
    </div>
  </div>

  <!-- Next Button -->
  <button id="nextBtn" class="circle-btn ms-2">&#8250;</button> <!-- Unicode for › -->
      </div>
      <div class="navbar-nav ms-auto">
      </div>
      <div class="navbar-nav ms-auto me-2">
        <div class="filter ms-auto">
    <p for="toogelBtn">Display total before taxes</p>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="toogelBtn">
      </div>
   </div>
      </div>
    </div>
  </div>
</nav>


<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for(let data of allDataOfListings){ %>
  <!--  Bootstrap card -->
  <a href="/listinges/<%=data._id%>" class="text-decoration-none">
    <div class="card card-2">
      <img
        src="<%=data.image.url%>"
        class="card-img-top"
        alt="..."
        style="height: 20rem"
      />
      <div class="card-img-overlay">&#10084;</div>
      <div class="card-body">
        <p class="card-text">
          <b><%= data.title%></b><br />
          <%= data.location%><br />
          &#8377;<%= data.price.toLocaleString("en-IN")%> /night
          <b class="priceGst">&nbsp; + 18 % GST</b>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script>
  let priceToogelBtn=document.getElementById("toogelBtn");
  
    priceToogelBtn.addEventListener('click',()=>{
      let textInfo=document.getElementsByClassName('priceGst');
      for(info of textInfo){
      if(info.style.display!="inline"){
        info.style.display="inline";
      }else{
        info.style.display="none";
      }
        
      }
  });
</script>