<% layout("/layouts/boilerplate") -%>
<body>
  <h1 class="text-center mt-4 mb-4">See your Profile</h1>
  <div class="row" id="show-1">
    <div class="col-6 offset-3">
      <img src="<%=data.image%>" alt="image" id="listing-img" />
    </div>
    <div class="col-6 offset-3">
      <p>Title : <%= data.title%></p>
    </div>
    <div class="col-6 offset-3">
      <p>Description : <%= data.description%></p>
    </div>
    <div class="col-6 offset-3">
      <p>country : <%= data.country%></p>
    </div>
    <div class="col-6 offset-3">
      <p>Price :&#8377; <%= data.price.toLocaleString("en-IN")%></p>
    </div>
    <div class="col-6 offset-3"id="btn-setting">
    <form action="/listinges/<%=data.id%>/edit" method="GET">
      <button class="btn btn-primary">Edit</button>
    </form>
    &nbsp;
    <form action="/listinges/<%=data.id%>?_method=DELETE" method="POST">
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>
  </div>
  
</body>
