<% layout("/layouts/boilerplate") -%>
<h3 class="offset-3 mt-4"><%= listing.title%></h3>

<div class="row" id="show-1">
  <div class="col-md-6 offset-3">
    <img src="<%=listing.image%>" alt="image" id="listing-img" />
    <p class="fw-medium">Owned by <u><%=listing.owner.username %></u></p>
  </div>

  <div class="col-md-6 offset-3">
    <p class="fw-medium"><%= listing.description%></p>
    <p class="fw-medium"><%= listing.country%></p>
    <p class="fw-medium">&#8377; <%= listing.price.toLocaleString("en-IN")%></p>
  </div>
  <% if(currentUser && currentUser._id.equals(listing.owner._id)){ %>
  <div class="col-md-6 offset-3" id="btn-setting">
    <form action="/listinges/<%=listing.id%>/edit" method="GET">
      <button class="btn btn-dark">Edit</button>
    </form>

    <form action="/listinges/<%=listing.id%>?_method=DELETE" method="POST">
      <button class="btn btn-danger ms-1">Delete</button>
    </form>
  </div>
  <% } %>
  <div class="col-8 offset-2 text-bold">
    <%if(currentUser){%>
    <hr />
    <h2>Leave a Review</h2>
    <form
      action="/listinges/<%=listing.id%>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mt-3">
        <label for="rating">Rating</label>
        <fieldset class="starability-slot">
          <input
            type="radio"
            id="rating"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-0">
        <label for="comment">Write a Review</label>
        <textarea
          class="form-control"
          name="review[comment]"
          required
          id="comment"
          rows="3"
        ></textarea>
        <div class="invalid-feedback">write comment</div>
      </div>

      <button type="submit" class="btn btn-dark mt-2 mb-2">Submit</button>
    </form>
    <%}%>
    <!-- this is for show all comment -->
    <div class="row">
      <hr />
      <p><b>All Reviews</b></p>
      <% for(review of listing.reviews){ %>
      <div class="card col-5 ms-3 mb-3 p-2" id="show-review">
        <div class="card-body">
          <h6 class="card-title"><%=review.author.username%></h6>
          <p class="starability-result card-text" data-rating="3"><%=review.rating%></p>
          <p class="card-text"><%=review.comment%></p> 
          <%if(currentUser && review.author._id.equals(currentUser._id)){%>
          <form
            action="/listinges/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
          <%}%>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
