<% layout("/layouts/boilerplate") -%>
<body>
  <h1 class="text-center mt-4 mb-4">See your Profile</h1>
  <form action="/listinges/<%=data.id%>?_method=PUT" method="POST">
    <div class="row">
      <div class="col-6 offset-3">
        <p>ID : <%= data.id%></p>
      </div>
      <div class="col-6 offset-3">
        <p> : <%= data.price%></p>
      </div>
      <div class="col-6 offset-3">
        <p>ID : <%= data.description%></p>
      </div>
      <div class="col-6 offset-3">
        <p>ID : <%= data.title%></p>
      </div>
      <div class="col-6 offset-3">
        <p>ID : <%= data.country%></p>
      </div>
        
    </div>

    <a href="/listinges/<%=data.id%>/edit" class="btn btn-primary offset-3">Edit</a>
    <form action="/listinges/<%=data.id%>?_method=DELETE" method="POST">
      <button class="btn btn-danger">Delete</button>
    </form>
  </form>
</body>
