<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <div class="container">
        <h1><%=  data.title %></h1>
        <ul>
            <li><%= data.id %></li>
            <li><%=  data.description %></li>
        <li>Price: &#8377;<%=  data.price.toLocaleString("en-IN") %></li>
        <li>Location: <%=  data.location %></li>
        <a href="/listinges/<%=data.id%>/edit">edit</a>
        </ul>
        <form action="/listinges/<%=data.id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

        
    </div>
</body>
</html>